<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="res/css/style.css">
    <style>
        button{
            background: none;
            appearance: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            cursor: pointer;
        }
        input{
            height: 1em;
            border: none;
            outline-width: 0;
            padding: 0;
            font-size: 0.9em;
            text-align: center;
        }
    </style>
    <script type="type/javascript" src="res/js/animate.js"></script>
    <script type="text/javascript" src="res/js/calendar.js"></script>
    <script type="text/javascript" src="res/js/const.js"></script>
    <script type="text/javascript" src="res/js/test.js"></script>
    <script type="text/javascript" src="res/js/main.js" defer></script>
</head>
<body>
    <header>
        <ul class="mono">
            <li><a href="/">Home</a></li>
            {{range .tableList}}
            <li>
                <a href="/table/{{.}}">{{.}}</a>
            </li>
            {{end}}
        </ul>
    </header>
    <main>
        <ol>
            <li><a href="/table/repair_request">учет заявок на ремонтные работы</a></li>
            <li><a href="/reports/requests_by_worker">контроль исполнения заявок по исполнителям</a></li>
            <li>
                <form method="get" action="/reports/undone_requests">
                    <button type="submit">отчет о невыполненных заявках по исполнителям:</button>
                    <label>
                        <select name="worker_name" required>
                            {{range .performer.Data}}
                            {{$name := index . 1}}
                            <option value="{{$name}}">{{$name}}</option>
                            {{end}}
                        </select>
                    </label>
                </form>
            </li>
            <li><a href="/reports/overdue_requests">отчет о заявках, выполненных с превышением срока</a></li>
            <li>
                <form action="/reports/request_number" method="get">
                    <button type="submit">отчет о количестве заявок заданного типа:</button>
                    <label>
                        <select name="type_id" required>
                            {{range .repair_type.Data}}
                            {{$name := index . 2}}
                            <option value="{{$name}}">{{$name}}</option>
                            {{end}}
                        </select>
                    </label>
                </form>
            </li>
            <li><a href="/table/repair_type">изменение состава типов заявок</a></li>
            <li><a href="/table/manager">изменение данных о руководителях филиалов</a></li>
        </ol>
        <h1>Лаба 7</h1>
        <p>Вариант 23 mod 3=2</p>
        <div id="image-block">
            <img src="res/img/picture1.jpg" id="pic1">
            <img src="res/img/picture2.jpg" id="pic2">
            <img src="res/img/picture3.jpg" id="pic3">
        </div>

        <h1>Лаба 8</h1>
        <map name="lab8">
            <area shape="rect" href="https://vk.com/y_a_k_t_o" coords="390,155,575,175" alt="интернет" target="_blank">
            <area shape="rect" href="https://www.kinopoisk.ru/film/406/" coords="395,345,433,363" alt="чужие" target="_blank">
        </map>
        <img usemap="#lab8" src="res/img/imagemap.jpg" alt="map" class="map">
        <p>Вариант 23 mod 18=5</p>
        <map name="triangle">
            <area shape="poly" href="/table/manager" coords="300,40,20,600,580,600" alt="managers">
        </map>
        <img usemap="#triangle" src="res/img/managers.png" class="map" alt="triangle">
        <div id="map-image">
            <img src="res/img/imagemap.jpg" alt="map" class="map">
            <a href="https://vk.com/y_a_k_t_o" id="vk-link"></a>
            <a href="https://www.kinopoisk.ru/film/406/" id="chuzhoi-link"></a>
        </div>
    </main>
    <div id="addBlocks">
        <div id="clockBlock">
            <div id="clock-text" class="smallBlockText">В Москве сегодня:</div>
            <div class="largeBlockText time">01:02:03</div>
            <div class="smallBlockText date">01.02.2006</div>
        </div>
        <div id="calendarBlock">
            <table id="jsCalendar">
            </table>
        </div>
        <div id="clickOnTestBlock" onclick="openTest()">
            <div class="largeBlockText">Пройди</div>
            <div class="smallBlockText">тест на IQ!</div>
        </div>
    </div>
    <div id="banner">
        <img src="res/img/banner.png">
    </div>
</body>
</html>